/* General Styles */
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 95vw;
}

.hero {
  transition: opacity 1s ease-in-out;
  position: relative;
}

.hero-text {
  color: white;
  font-size: 79px;
  font-weight: 500;
  line-height: 100px;
  margin-top: 80px;
  margin-left: 25px;
  text-align: left;
}

.hero-dot-play {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80vh; /* Position the dots 15% from the bottom */
}

.hero-dots {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.hero-dot {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 8px;
  cursor: pointer;
}

.hero-dot.orange {
  background: orangered;
}

/* Responsive Styles */
@media (max-width: 1440px) {
  .hero-text {
    font-size: 60px;
    line-height: 85px;
    margin-top: 90px;
  }

  .hero-dot-play {
    top: 75vh; /* Adjust for smaller laptops and large tablets */
  }
}
@media (max-width: 1024px) {
  .hero-text {
    font-size: 60px;
    line-height: 85px;
    margin-top: 90px;
  }

  .hero-dot-play {
    top: 75vh; /* Adjust for smaller laptops and large tablets */
  }
}

@media (max-width: 768px) {
  .hero-text {
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    margin-left: 0;
    margin-top: 100px;
  }

  .hero-dot-play {
    top: 75vh; /* Adjust for medium tablets */
  }
}

@media (max-width: 480px) {
  .hero-text {
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    margin-left: 0;
    margin-top: 80px;
  }

  .hero-dot-play {
    top: 70vh; /* Adjust for small tablets and large phones */
  }
}

@media (max-width: 380px) {
  .hero-text {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    margin-left: 0;
    margin-top: 60px;
  }

  .hero-dot-play {
    top: 65vh; /* Adjust for small phones */
  }
}

@media (max-height: 620px) {
  .hero-text {
    margin-top: 50px;
    font-size: 40px;
    line-height: 55px;
  }

  .hero-dot-play {
    top: 60vh; /* Adjust for shorter screens */
  }
}
